/WebApplication1/packages
/WebApplication1/WebApplication1/bin
/WebApplication1/BAL/bin
/WebApplication1/DAL/bin
/WebApplication1/DALTester/bin
/WebApplication1/Entities/bin
/WebApplication1/WebApplication1/obj
/WebApplication1/BAL/obj
/WebApplication1/DAL/obj
/WebApplication1/DALTester/obj
/WebApplication1/Entities/obj
